section#para{
	padding: 30px;
	line-height: 1.5em;
}

section#para>p{
	margin: 25px 0px;
	line-height: 1.35em;
}

section#para > h1{
	margin: 30px 0px;
}

section#para > h3, section#para > h4{
	margin: 15px 0px;
}

section#para > p > a{
	margin: 0px;
}

section#para > ul{
	margin-left: 15px;
}

section#para > ul > li{
	list-style: disc;
	padding: 5px 0px;
}

section#para > ol > li{
	list-style: decimal;
	margin-left: 15px;
}

section#para a{
	text-decoration: none;
	color: rgba(0,0,0,1);
	border-bottom: 1px dotted rgba(0,0,0,1);
}

section#para a:hover{
	text-decoration: none;
	color: rgba(0,0,0,0.75);
	border-bottom: 1px dotted rgba(0,0,0,0.75);
}

section#para > h3.kit{
	text-align: center;
}

section#para > table{
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 10px;
}

section#para > table th{
	text-align: center;
	padding: 10px;
	border: 1px solid silver;
	font-weight: bold;
}

section#para > table td{
	padding: 10px;
	border: 1px solid silver;
}
