html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  outline: none;
}

html{
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
  position: relative;
  right: 0;
  -webkit-transition: right .3s;
  transition: right .3s;
}
  body.open {
    right: 275px;
  }

* { margin: 0; padding: 0;
}

@media all and (min-width: 800.1px) {
  #box {
    width: 90%;
  }
  
  #box>h2 {
    margin-top: 16px;
    padding-bottom: 5px;
    text-align: right;
  }
}

@media all and (max-width: 800px) {
  #box {
    width: 70%;
  }
  
  #box>h2 {
    margin: 0 auto;
    margin-top: 35px;
    width: initial;
    padding-bottom: 30px;
    text-align: center;
  }
}

@media all and (min-width: 555.1px) { 
  #head {
    font-size: 24px;
    margin-bottom: 7px;
  }
  
  #subhead {
    font-size: 15px;
  }
}

@media all and (max-width: 555px) {
  #headerText {
    width: 74vw;
  }
  
  #head {
    font-size: 4vw; /*4.5vw*/
  }
  
  #subhead {
    font-size: 3.5vw;
  }
}

@media all and (max-width: 460px) {
  #headerText {
    width: 60vw;  
  }
  
  #head { 
    margin-bottom: 3px;
  }
}

@media all and (max-width: 470px) {
  #poststbl {
    width: 95vw;
    margin-left: -12.5vw;
  }
}

@media all and (min-width: 471px) {
  #poststbl {
    width: 65%;
    margin: 0 auto;
  }
}

@media all and (max-width: 729.5px) {
  #footer_right {
    display: block;
    margin-top: 25px;
  }
}

@media all and (min-width: 730px) {
  #footer_right {
    display: inline-table;
    float: right;
  }
}

body {
  font-family: Roboto;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET DONE */

body {
  background-color: rgba(0,0,0,0.02);
	
}
.header {
  margin-bottom: 15px;
  position: relative;
}
.clearfix {
  clear: both;
}

div.container{
  margin-top: 35px;
  border: 1px solid silver;
  background-color: #fff;
  height: 100%;
  z-index: -1;
  margin-bottom: 40px;
}

h1 {
  margin: 40px 0;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
}
a {
  text-decoration: none;
  

  margin: 0 10px;
}

/*.btn {
  box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
  
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  height: 50px;
  background-color: #838383;
  
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  
  -webkit-box-shadow: 0 3px 0 0 #636363;
  box-shadow: 0 3px 0 0 #636363;
  
  line-height: 30px;
  font-size: 14px;
  font-weight: normal;
  text-shadow: 0px 1px 1px #888;
}
  .btn:active,
  .btn.active {
    top: 1px;
    -webkit-box-shadow: 0 1px 0 0 #636363;
    box-shadow: 0 1px 0 0 #636363;
  }


.btn.submit {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.btn-small {
  height: 30px;
  font-size: 12px;
  line-height: 10px;
}*/
  a.btn-small span.btn {
    height: 30px;
  }

a.menu-icon {
  position: absolute;
  text-decoration: none;
  font-size:25px;
  color:#fff !important;
  overflow: hidden;
  z-index:999;
  top: -65px;
  right: 25px;
  outline: none;
}

a:hover.menu-icon{text-decoration: none;}

ul.side-menu {
  position: fixed;
  top: 0;
  right: -275px;
  width: 275px;
  height: 100%;
  background-color: #DAD7ED;
  z-index: 999;
  color: #fff !important;
  -webkit-transition: right .3s;
  transition: right .3s;
}

ul.side-menu.open {
right: 0;
list-style: none;
}
ul.side-menu li {
position: absolute;
top: 100%;
left: 0;
right: 0;
list-style: nonel
text-align: left;
height: 40px;
-webkit-transition: top .3s;
transition: top .3s;
}
ul.side-menu li.row {
border: 0;
position: static;
top: 0;
height: 0;
-webkit-transition: none;
transition: none;
color: #fff !important;
list-style: none;
}
ul.side-menu li.metro {
  position: absolute;
  padding: 0;
  height: 130px;
  text-align: center;
  list-style: nonel
  color: #fff !important;
  margin-left: 0px;
}
  ul.side-menu li.metro.half { width: 50%; }
  ul.side-menu li.metro.full { width: 100%; }

ul.side-menu h2.title {
  text-align: center;
  padding: 0 20px;
  position: relative;
  top: -60px;
  font-size: 28px;
  line-height: 60px;
  height: 60px;
  background-color: #DAD7ED;
 color:#ccc;

  -webkit-transition: top .3s;
  transition: top .3s;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
ul.side-menu li a {
  display: block;
  font-size: 20px;
  padding: 0;
  margin: 0;
  height: inherit;
  cursor: pointer;
  
}
  ul.side-menu li.metro a {
    margin: 42px 0;
    height: 20px;
    font-size: 27px;
}
/* Colors */
ul.side-menu li.metro.blue { background-color: #5c84db; }
ul.side-menu li.metro.light-blue { background-color: #2FC2EF; }
ul.side-menu li.metro.purple { background-color: #a24fea; }
ul.side-menu li.metro.red { background-color: #e54747; }
ul.side-menu li.metro.pink { background-color: #ea4c89; }
ul.side-menu li.metro.green { background-color: #85e500; }
ul.side-menu li.metro.orange { background-color: #e28f00; }
ul.side-menu li.metro.teal { background-color: #00e2e2; }
ul.side-menu li.metro.white { background-color: #DAD7ED; }

#header1 {
  background-color: #0152A1;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #989898;
  overflow: hidden;
  z-index: 100;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.4);
}

#header1>img {
  float: left;
  height: 100px;
}

#headerText {
  font-family: Roboto;
  display: inline-block;
}

#head {
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  font-weight: bold;
  color: #fff;
}


#subhead {
  color: #CACACA;
  margin: 0;
  margin-left: 10px;
  font-size: 18px;
}

p#status{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px 25px;
  color: white;
}

p#status a{
  text-decoration: underline;
  outline: none;
  color: white;
}

p#status a:hover{
  color: silver;
}

div#overlay{
  position: fixed;
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 500;
  border: 0;
  outline: none;
  display: none;
}

div#resourceList, div.menuList{
  position: absolute;
  top: 225px;
  right: 150px;
  height: auto;
  width: 250px;
  background-color: #DAD7ED;
  text-align: center;
  display: none;
  z-index: 50;
  border: 1px solid black;
  border-radius: 4px;
}

div#linksList{
  margin-top: 75px;
}

div#memberOptions{
  position: absolute;
  top: 225px;
  right: 400px;
  width: 300px;
  margin-right: 10px;
  display: none;
}

div#execomOptions{
  width: 300px;
  right: 400px;
  margin-right: 10px;
}

div.menuList ul li{
  position: relative;
  height: auto;
  padding: 25px;
  margin: 0px;
  cursor: pointer;
  color: #428BCA;
  
}

div.menuList ul a{
  text-decoration: none;
}

div.menuList ul li:hover{
  background-color: #EEEDF4;
  color: #0152A1;
}

div.menuList ul li:hover:first-child{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

div.menuList ul li:hover:last-child{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#footer {
  position: relative;
  width: 100% !important;
  min-height: auto;
  background-color: #595959 !important;
  display: block !important;
  color: #CFCFCF !important;
  font-size: 14px !important;
  padding: 25px !important;
  clear: both !important;
}

#footer_left {
  display: inline-table !important;
}

#footer_right {
  margin-right: 20px !important;
}

#footer p{
  margin: 0px;
  margin-bottom: 15px;
  line-height: 1.3em !important;
  font-size: 14px !important;
}
